<!-- templates/connection.html -->
{% extends '_base.html' %}
{% load static %}

{% block title %}Conditioning{% endblock title %}

{% block content %}
{% if user.is_authenticated %}
    <p>Hi {{ user.email }}</p>
{% else %}
    <p>You are not logged in</p>
{% endif %}

    <div class="row" >
        <div class="col-lg-4" >
            <img class="thumbnail"  src="{% static 'images/placeholder.jpg' %}" >
            <div class="box-element product">
                <h6><strong>Move</strong></h6>
                <br>
                <button class="btn btn-outline" >Add to </button>
            </div>
        </div>

        <div class="col-lg-4" >
            <img class="thumbnail"  src="{% static 'images/placeholder.jpg' %}" >
            <div class="box-element product">
                <h6><strong>Move</strong></h6>
                <br>
            </div>
        </div>

        <div class="col-lg-4" >
            <img class="thumbnail"  src="{% static 'images/placeholder.jpg' %}" >
            <div class="box-element product">
                <h6><strong>Move</strong></h6>
                <br>
            </div>
        </div>

    </div>
<br />
{% endblock content %}
