<!-- templates/conditioning.html -->
{% extends '_base.html' %}
{% load static %}

{% block title %}Conditioning{% endblock title %}

{% block content %}

<div class="row">
    <div class="col-lg-12" >
        <div class="box-element" >
            <a class="btn btn-outline-dark"  href="{% url 'act' %}" >&#x2190; Back to Acts</a>

            <br>
            <br>
            <table class="table" >
                <tr>
                    <th><h5>Moves: <strong>3</strong></h5></th>
                    <th><h5>Total Moves: <strong>9</strong></h5></th>
                    <th>
                        <a class="btn btn-success"  href="#" >Schedule </a>
                    </th>
                </tr>

            </table>

        </div>
        


        <br>

        <div class="box-element" >
            
        </div>
        <br>

    </div>
</div>

{% endblock content %}
