<!-- templates/connection.html -->
{% extends '_base.html' %}
{% load static %}

{% block title %}Connections{% endblock title %}

{% block content %}
{% if user.is_authenticated %}
<p>Hi {{ user.email }}</p>
{% else %}
<p>You are not logged in</p>
{% endif %}

{% for connection in all_connections_list %}
<div class="card">
    <div class="card-header">
        <span class="font-weight-bold">{{ connection.emotion }}</span> &middot;
        <spn class=
        <span class="text-muted">by {{ connection.author }} | {{ connection.created_date }}</span>
    </div>
    <div class="card-body">
        {{ connection.reason }}
    </div>
    <div class="card-footer text-center text-muted">
        <a href="{% url 'connection_edit' connection.pk %}">Edit</a> |
        <a href="{% url 'connection_delete' connection.pk %}">Delete</a>
    </div>
</div>
<br />
{% endfor %}
{% endblock content %}