<!-- templates/schedule.html -->
{% extends '_base.html' %}
{% load static %}

{% block title %}Schedule{% endblock title %}

{% block content %}

{% if user.is_authenticated %}
<p>Hi {{ user.email }}</p>

{% else %}
<p>You are not logged in</p>
{% endif %}



<div class="row">
    <div class="col-lg-12" >
        <div class="box-element" >
            <a class="btn btn-outline-dark"  href="{% url 'act' %}" >&#x2190; Back to Acts</a>
            <br>
            <br>
            <table class="table" >
                <tr>
                    <th><h5>Moves: <strong>3</strong></h5></th>
                    <th><h5>Total Moves: <strong>9</strong></h5></th>
                    <th>
                        <a style="float:right; margin:5px" class="btn btn-success"  href="{% url 'scheduler' %}" >Schedule </a>
                    </th>
                </tr>

            </table>

        </div>
        


        <br>

        <div class="box-element" >
            <div class="act-row" >
                <div style="flex:2"></div>
                 <div style="flex:2"><strong><p>Move</p></strong></div>
                <div style="flex:1"><strong><p>Time</p></strong></div>
                <div style="flex:1"><strong><p>Repetition</p></strong></div>
                <div style="flex:1"><strong><p>Total</p></strong></div>
            </div>

            <div class="act-row" >
                <div style="flex:2"><img class="row-image"
                                         src="{% static 'images/placeholder.jpg' %}">
                </div>
                <div style="flex:2"><p>Move 1</p></div>
                <div style="flex:1"><p>6 min</p></div>
                <div style="flex:1">
                    <p class="repetition" >2</p>
                    <div class="repetition" >
                        <img class="chg-repetition"  src="{% static 'images/arrow-up.png' %}" >

                        <img class="chg-repetition"  src="{% static 'images/arrow-down.png' %}" >
                    </div>
                </div>
                <div style="flex:1"><p>12 min</p></div>
            </div>
        </div>
        <br>

    </div>
</div>

{% endblock content %}
